# Templating and Jinja2
---

```html
<div class="simplelist">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</div>
```

<div class="simplelist">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</div>

```html
<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Score</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td>1</td>
             <td>Team 1</td>
             <td>30</td>
          </tr>
          <tr>
             <td>2</td>
             <td>Team 2</td>
             <td>20</td>
          </tr>
      </tbody>
</table>
```

<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Score</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td>1</td>
             <td>Team 1</td>
             <td>30</td>
          </tr>
          <tr>
             <td>2</td>
             <td>Team 2</td>
             <td>20</td>
          </tr>
      </tbody>
</table>

In [1]:
from jinja2 import Template

In [2]:
t = Template('Hello {{name}}!')

In [3]:
t

In [4]:
t.render(name='World')

'Hello World!'

In [5]:
t1 = Template('Hello {% if value > 5 %}{{ value }}{% endif %}!')

In [6]:
t1.render(value=4)

'Hello !'

In [7]:
t1.render(value=6)

'Hello 6!'

In [8]:
tpl ='''
<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Score</th>
         </tr>
     </thead>
     <tbody>
         {% for row in data %}
         <tr>
             <td>1</td>
             <td>Team 1</td>
             <td>30</td>
          </tr>
          {% endfor %}
      </tbody>
</table>
'''

In [10]:
from IPython.display import HTML

In [11]:
Template(tpl).render(data=range(0, 5))

'\n<table>\n    <thead>\n        <tr>\n            <th>S.No</th>\n            <th>Name</th>\n            <th>Score</th>\n         </tr>\n     </thead>\n     <tbody>\n         \n         <tr>\n             <td>1</td>\n             <td>Team 1</td>\n             <td>30</td>\n          </tr>\n          \n         <tr>\n             <td>1</td>\n             <td>Team 1</td>\n             <td>30</td>\n          </tr>\n          \n         <tr>\n             <td>1</td>\n             <td>Team 1</td>\n             <td>30</td>\n          </tr>\n          \n         <tr>\n             <td>1</td>\n             <td>Team 1</td>\n             <td>30</td>\n          </tr>\n          \n         <tr>\n             <td>1</td>\n             <td>Team 1</td>\n             <td>30</td>\n          </tr>\n          \n      </tbody>\n</table>'

In [13]:
HTML(_)

In [22]:
tpl ='''
<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Score</th>
            <th>Performance</th>
         </tr>
     </thead>
     <tbody>
         {% for row in data %}
         <tr>
             <td>{{row.id}}</td>
             <td>{{row.name}}</td>
             <td>{{row.score}}</td>
             <td>
                 {% if row.score < 30 %}
                     Very Bad
                  {% elif row.score < 50 %}
                      Bad
                   {% elif row.score > 80 %}
                       Good
                    {% else %}
                        Very Good
                    {% endif %}
             </td>
          </tr>
          {% endfor %}
      </tbody>
</table>
'''

In [15]:
from random import randint

In [18]:
records = [{'id': i + 1, 'name': 'Team ' + str(i + 1), 'score': randint(0, 100)} for i in range(0, 10)]

In [19]:
records

[{'id': 1, 'name': 'Team 1', 'score': 98},
 {'id': 2, 'name': 'Team 2', 'score': 61},
 {'id': 3, 'name': 'Team 3', 'score': 14},
 {'id': 4, 'name': 'Team 4', 'score': 44},
 {'id': 5, 'name': 'Team 5', 'score': 79},
 {'id': 6, 'name': 'Team 6', 'score': 45},
 {'id': 7, 'name': 'Team 7', 'score': 66},
 {'id': 8, 'name': 'Team 8', 'score': 41},
 {'id': 9, 'name': 'Team 9', 'score': 46},
 {'id': 10, 'name': 'Team 10', 'score': 20}]

In [23]:
Template(tpl).render(data=records)

'\n<table>\n    <thead>\n        <tr>\n            <th>S.No</th>\n            <th>Name</th>\n            <th>Score</th>\n            <th>Performance</th>\n         </tr>\n     </thead>\n     <tbody>\n         \n         <tr>\n             <td>1</td>\n             <td>Team 1</td>\n             <td>98</td>\n             <td>\n                 \n                       Good\n                    \n             </td>\n          </tr>\n          \n         <tr>\n             <td>2</td>\n             <td>Team 2</td>\n             <td>61</td>\n             <td>\n                 \n                        Very Good\n                    \n             </td>\n          </tr>\n          \n         <tr>\n             <td>3</td>\n             <td>Team 3</td>\n             <td>14</td>\n             <td>\n                 \n                     Very Bad\n                  \n             </td>\n          </tr>\n          \n         <tr>\n             <td>4</td>\n             <td>Team 4</td>\n             <td>44</td>\n             <td>\n                 \n                      Bad\n                   \n             </td>\n          </tr>\n          \n         <tr>\n             <td>5</td>\n             <td>Team 5</td>\n             <td>79</td>\n             <td>\n                 \n                        Very Good\n                    \n             </td>\n          </tr>\n          \n         <tr>\n             <td>6</td>\n             <td>Team 6</td>\n             <td>45</td>\n             <td>\n                 \n                      Bad\n                   \n             </td>\n          </tr>\n          \n         <tr>\n             <td>7</td>\n             <td>Team 7</td>\n             <td>66</td>\n             <td>\n                 \n                        Very Good\n                    \n             </td>\n          </tr>\n          \n         <tr>\n             <td>8</td>\n             <td>Team 8</td>\n             <td>41</td>\n             <td>\n                 \n                      Bad\n                   \n             </td>\n          </tr>\n          \n         <tr>\n             <td>9</td>\n             <td>Team 9</td>\n             <td>46</td>\n             <td>\n                 \n                      Bad\n                   \n             </td>\n          </tr>\n          \n         <tr>\n             <td>10</td>\n             <td>Team 10</td>\n             <td>20</td>\n             <td>\n                 \n                     Very Bad\n                  \n             </td>\n          </tr>\n          \n      </tbody>\n</table>'

In [24]:
HTML(_)