# SQLAlchemy
---

In [1]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [3]:
from sqlalchemy.ext.declarative import declarative_base

In [5]:
Model = declarative_base()

In [6]:
from sqlalchemy import Column, Integer, String

In [7]:
class User(Model):
    __tablename__ = 'users'
    
    id = Column(Integer, primary_key=True)
    username = Column(String, nullable=False)
    password = Column(String)
    remarks = Column(String, nullable=True)

In [8]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('username', String(), table=<users>, nullable=False), Column('password', String(), table=<users>), Column('remarks', String(), table=<users>), schema=None)

In [9]:
Model.metadata.create_all(engine)

2017-09-18 07:59:52,938 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-09-18 07:59:52,943 INFO sqlalchemy.engine.base.Engine ()
2017-09-18 07:59:52,947 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-09-18 07:59:52,948 INFO sqlalchemy.engine.base.Engine ()
2017-09-18 07:59:52,950 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-09-18 07:59:52,951 INFO sqlalchemy.engine.base.Engine ()
2017-09-18 07:59:52,955 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	username VARCHAR NOT NULL,
	password VARCHAR,
	remarks VARCHAR,
	PRIMARY KEY (id)
)


2017-09-18 07:59:52,957 INFO sqlalchemy.engine.base.Engine ()
2017-09-18 07:59:52,961 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
user1 = User(username='user1', password='user1')

In [11]:
user1

```python
def __repr__(self):
    """
    """
    pass
```

In [12]:
user1.username

'user1'

In [13]:
from sqlalchemy.orm import sessionmaker

In [14]:
Session = sessionmaker(bind=engine)

In [15]:
Session

sessionmaker(class_='Session',bind=Engine(sqlite:///:memory:), autoflush=True, autocommit=False, expire_on_commit=True)

In [16]:
session = Session()

In [17]:
session

In [18]:
# User.query.all() => Flask sqlalchemy
session.query(User).all()

2017-09-18 08:13:20,951 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-09-18 08:13:20,956 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
2017-09-18 08:13:20,959 INFO sqlalchemy.engine.base.Engine ()

[]

In [19]:
session.add(user1)

In [20]:
session.query(User).all()

2017-09-18 08:15:24,742 INFO sqlalchemy.engine.base.Engine INSERT INTO users (username, password, remarks) VALUES (?, ?, ?)
2017-09-18 08:15:24,744 INFO sqlalchemy.engine.base.Engine ('user1', 'user1', None)
2017-09-18 08:15:24,746 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
2017-09-18 08:15:24,748 INFO sqlalchemy.engine.base.Engine ()

In [21]:
session.add(
    User(username='D', password='p', remarks='m')
)

In [22]:
session.add(
    User(username='Dd', password='pp', remarks='mm')
)

In [23]:
session.query(User).all()

2017-09-18 08:17:11,366 INFO sqlalchemy.engine.base.Engine INSERT INTO users (username, password, remarks) VALUES (?, ?, ?)
2017-09-18 08:17:11,377 INFO sqlalchemy.engine.base.Engine ('D', 'p', 'm')
2017-09-18 08:17:11,380 INFO sqlalchemy.engine.base.Engine INSERT INTO users (username, password, remarks) VALUES (?, ?, ?)
2017-09-18 08:17:11,382 INFO sqlalchemy.engine.base.Engine ('Dd', 'pp', 'mm')
2017-09-18 08:17:11,385 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
2017-09-18 08:17:11,388 INFO sqlalchemy.engine.base.Engine ()

[<__main__.User at 0x7f7b9a5f0dd8>,
 <__main__.User at 0x7f7b9a48a2b0>,
 <__main__.User at 0x7f7b9a497518>]

In [24]:
session.query(User).filter_by(username='D')

In [25]:
session.query(User).filter_by(username='D').all()

2017-09-18 08:18:28,470 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
WHERE users.username = ?
2017-09-18 08:18:28,473 INFO sqlalchemy.engine.base.Engine ('D',)

In [29]:
q = session.query(User).filter(User.username.like('D%'))

In [30]:
q

In [31]:
q.all()

2017-09-18 08:21:01,608 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
WHERE users.username LIKE ?
2017-09-18 08:21:01,611 INFO sqlalchemy.engine.base.Engine ('D%',)

In [32]:
q.first()

2017-09-18 08:21:09,072 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
WHERE users.username LIKE ?
 LIMIT ? OFFSET ?
2017-09-18 08:21:09,074 INFO sqlalchemy.engine.base.Engine ('D%', 1, 0)

In [37]:
q.one()

2017-09-18 08:24:01,764 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
WHERE users.username LIKE ?
2017-09-18 08:24:01,767 INFO sqlalchemy.engine.base.Engine ('D%',)

MultipleResultsFound: Multiple rows were found for one()

In [33]:
session.add(
    User(username='E', password='q', remarks='n')
)

In [34]:
session.add(
    User(username='F', password='r', remarks='o')
)

In [39]:
q = session.query(User).filter(User.remarks != '')

In [40]:
q.all()

2017-09-18 08:27:54,315 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
WHERE users.remarks != ?
2017-09-18 08:27:54,318 INFO sqlalchemy.engine.base.Engine ('',)

[<__main__.User at 0x7f7b9a48a2b0>,
 <__main__.User at 0x7f7b9a497518>,
 <__main__.User at 0x7f7b9a4914e0>,
 <__main__.User at 0x7f7b9a491550>]

In [41]:
session.query(User).count()

2017-09-18 08:28:12,721 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users) AS anon_1
2017-09-18 08:28:12,724 INFO sqlalchemy.engine.base.Engine ()

5

In [43]:
[(u.id, u.username) for u in q.all()]

2017-09-18 08:30:07,947 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
WHERE users.remarks != ?
2017-09-18 08:30:07,949 INFO sqlalchemy.engine.base.Engine ('',)

[(2, 'D'), (3, 'Dd'), (4, 'E'), (5, 'F')]

In [45]:
q = q.order_by(-User.id)

In [46]:
q.all()

2017-09-18 08:32:21,641 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
WHERE users.remarks != ? ORDER BY -users.id
2017-09-18 08:32:21,643 INFO sqlalchemy.engine.base.Engine ('',)

[<__main__.User at 0x7f7b9a491550>,
 <__main__.User at 0x7f7b9a4914e0>,
 <__main__.User at 0x7f7b9a497518>,
 <__main__.User at 0x7f7b9a48a2b0>]

In [47]:
[(u.id, u.username) for u in q.all()]

2017-09-18 08:32:30,041 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password, users.remarks AS users_remarks
FROM users
WHERE users.remarks != ? ORDER BY -users.id
2017-09-18 08:32:30,045 INFO sqlalchemy.engine.base.Engine ('',)

[(5, 'F'), (4, 'E'), (3, 'Dd'), (2, 'D')]